CreateOrderEmex/Service References/ServiceReference2/Store6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MegaApi.BO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MegaApi.BO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://emexonline.com:4000/Store.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MegaDataLib" />
  <xs:complexType name="ArrayOfInsertToBasketItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsertToBasketItem" nillable="true" type="tns:InsertToBasketItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsertToBasketItem" nillable="true" type="tns:ArrayOfInsertToBasketItem" />
  <xs:complexType name="InsertToBasketItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoeffMaxAgree" type="xs:decimal" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerOrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerStickerData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerSubId" type="xs:long" />
      <xs:element minOccurs="0" name="DestinationLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportPackLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadedPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="bitAGREE" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitBrand" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitConfirm" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitONLY" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitWait" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertToBasketItem" nillable="true" type="tns:InsertToBasketItem" />
  <xs:complexType name="ArrayOfPreQuotationItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreQuotationItem" nillable="true" type="tns:PreQuotationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreQuotationItem" nillable="true" type="tns:ArrayOfPreQuotationItem" />
  <xs:complexType name="PreQuotationItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinationLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="QuotationItem" nillable="true" type="tns:QuotationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreQuotationItem" nillable="true" type="tns:PreQuotationItem" />
  <xs:complexType name="QuotationItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/MegaDataLib" base="q1:MakeQuotation_Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="DestinationLogo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsQuotation" type="xs:boolean" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuotationItem" nillable="true" type="tns:QuotationItem" />
  <xs:complexType name="ArrayOfQuotationItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuotationItem" nillable="true" type="tns:QuotationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuotationItem" nillable="true" type="tns:ArrayOfQuotationItem" />
  <xs:complexType name="CreateOrder_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderNumber" type="xs:long" />
      <xs:element minOccurs="0" name="PaymentId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateOrder_Result" nillable="true" type="tns:CreateOrder_Result" />
</xs:schema>